<div class="bg-gray-900 text-gray-200">
    <footer class="container mx-auto px-4">
        <p class="text-sm text-gray-500 text-center py-4">
            About The Nexus
    
            The Nexus podcasts discuss a variety of topics including consumer technology news, developer news, gaming news and occasionally scientific news. We love talking, learning and exploring the future.
        </p>
        <p class="text-xs text-gray-600 text-center py-4">
            &copy; <script>document.write('' + new Date().getFullYear());</script> The Nexus
        </p>
    </footer>
</div>