.font-league-gothic {
    font-family: 'League Gothic', system-ui, sans-serif;
}

.text-shadow {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.auto-border-top + .auto-border-top {
  border-top: 0.5rem solid;
  border-image-source: linear-gradient(to right, rgb(236, 54, 52) 0 12.5%, rgb(44, 174, 228) 12.5% 25%, rgb(236, 54, 52) 25% 37.5%, rgb(44, 174, 228) 37.5% 50%, rgb(236, 54, 52) 50% 62.5%, rgb(44, 174, 228) 62.5% 75%, rgb(236, 54, 52) 75% 87.5%, rgb(44, 174, 228) 87.5% 100%);
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
}
